<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MissionDal.Properties.Settings.ImpossibleMissionConnectionString"
            connectionString="Data Source=.;Initial Catalog=ImpossibleMission;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>